.navbar{
    top:0px;
    background:rgb(93, 60, 102);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    z-index: 100;
    gap: 10px;
    position: sticky !important;
     box-shadow: 0px 0px 15px grey;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    z-index:100; */
}
.nav-menu{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width:50%;
    font-size: 1.5rem;
    font-weight: bold;
}
.anchor-link{
    text-decoration: none;
    color:white;
}
.menu{
    margin-left: 50px;
    display: flex;
    flex-direction:row;
    font-size: 1.5rem;
    font-weight: bolder;
}
.nav-menu hr{
    width: 100%;
    height:2px;
    background-color: white;
    border-radius: 50px;
}
/* .connect{
    border-radius:50px;
    border:none;
    padding:10px 20px;
    font-size: 20px;
    background: linear-gradient(#FFD3A5 , #FD6585);
    cursor: pointer;
    transition:2s;
}
.connect:hover{
    transform:scale(1.05);
} */
.bi-list{
    color:white;
    font-size: 20px;
}
@media(max-width:768px){
    .navbar{
        margin:20px 50px;
    }
}
    
